
.bgDashboard {
    background-image: url("../../public/bg/01.bg-wine.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (min-width: 768px) {
    .twoCols {
        grid-template-columns: 1fr auto !important;
    }
}

.bgWelcome {
    background-image: url("../../public/bg/03.bg-welcome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}