/*
https://codepen.io/devstreak/pen/dMYgeO
*/


.scrollbar-thin::-webkit-scrollbar-track
{
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar
{
  width: .2rem;
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb
{
  background-color: #0f172a;
}
