/*
https://codepen.io/devstreak/pen/dMYgeO
*/


.scrollbar-thin::-webkit-scrollbar-track,
.scrollbar-thin-light::-webkit-scrollbar-track
{
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar,
.scrollbar-thin-light::-webkit-scrollbar
{
  width: .2rem;
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb
{
  background-color: #0f172a;
}
.scrollbar-thin-light::-webkit-scrollbar-thumb
{
  background-color: #aaaaaa;
}
